<div class="container">
 <div class = "row">
   <div class="col-xs-３">
    <!-- ジャンルのサイドバーを表示 -->
    <%= render "public/items/sidebar", genres: @genres %>
   </div>
  
   　<div class="col-xs-9">
        <h4 style="font-family: HiraMinPro-W6; color: #000000; margin: 20px 0;">ようこそ、NaganoCakeへ！<br>
        このサイトは、ケーキ販売のECサイトになります。<br>
        会員でない方も商品の閲覧はできますが、<br>
        購入には会員登録が必要になります。<br>
        </h4>
     
     <div class="row">
    　<h4>新着商品</h4>
       <% @item.last(4).each do |item| %>
            <%= link_to item_path(item.id) ,style: "color: black;", data: {"turbolinks" => false} do %>
            <%= image_tag item.get_image(100,100) %><br>
            <%= item.name %><br>
           ¥<%= ((item.price*1.1).floor).to_s(:delimited, delimiter: ',' ) %>
            <% end %>
       <% end %>
     </div>
     </div>
    
     
    </div>
 </div>
</div>